{% extends 'front/front_base.html.twig' %}

{% block title %}SALLE Dispo {% endblock %}

{% block body %}
    <h1 id='c'>Salle Disponible</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NOM</th>
                <th>EMPLACEMENT</th>
                <th>CAPACITE</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for hall in halls %}
            <tr>
                <td>{{ hall.name }}</td>
                <td>{{ hall.location }}</td>
                <td>{{ hall.capacity }}</td>
                <td>
                    <a href="{{ path('hall_show', {'id': hall.id}) }}">VOIR</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
