{% extends 'back/base.html.twig' %}

{% block title %}SEARCH  RESULT{% endblock %}

{% block body %}
<h1 id="h1">Resultat de votre recherche</h1>

<h2 id='c'>Aucun résultat trouvé</h2> 


{% endblock %}

